absl-py==0.11.0
actionlib==1.13.2
angles==1.9.13
argcomplete==1.12.2
astunparse==1.6.3
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
automat==0.8.0
base-local-planner==1.17.1
baselines==0.1.5
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
blosc==1.7.0
bondpy==1.8.6
breezy==3.0.2
cachetools==4.2.0
camera-calibration-parsers==1.12.0
camera-calibration==1.15.2
catkin-pkg-modules==0.4.23
catkin-pkg==0.4.23
catkin-tools==0.5.0
catkin==0.8.9
cbor==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.26
colcon-common-extensions==0.2.1
colcon-core==0.6.1
colcon-defaults==0.2.5
colcon-devtools==0.2.2
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.13
colcon-output==0.2.12
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.6
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.21
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.3
configobj==5.0.6
configparser==5.0.1
constantly==15.1.0
controller-manager-msgs==0.19.4
controller-manager==0.19.4
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cv-bridge==1.15.0
cycler==0.10.0
cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deprecated==1.2.7
diagnostic-analysis==1.10.3
diagnostic-common-diagnostics==1.10.3
diagnostic-updater==1.10.3
dill==0.3.3
distlib==0.3.0
distro-info==0.23ubuntu1
distro==1.4.0
docker-pycreds==0.4.0
docutils==0.16
dulwich==0.19.15
dynamic-reconfigure==1.7.1
dynamixel-sdk==3.7.31
easy-markers==0.3.0
empy==3.3.2
entrypoints==0.3
et-xmlfile==1.0.1
fastimport==0.9.8
flake8==3.7.9
flatbuffers==1.12
fsspec==0.6.1
future==0.18.2
gast==0.3.3
gazebo-plugins==2.9.1
gazebo-ros==2.9.1
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.14
geodesy==0.5.5
gitdb==4.0.5
gitpython==3.1.12
google-auth-oauthlib==0.4.2
google-auth==1.24.0
google-pasta==0.2.0
gpg==1.13.1-unknown
grpcio==1.32.0
gym==0.13.1
h5py==2.10.0
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.10
ifcfg==0.18
image-geometry==1.15.0
imageio==2.4.1
imagesift==1.2.15
importlib-metadata==1.5.0
incremental==16.10.1
interactive-markers==1.12.0
isodate==0.6.0
jdcal==1.0
joblib==0.14.0
joint-state-publisher-gui==1.15.0
joint-state-publisher==1.15.0
jsk-data==2.2.11
jsk-perception==1.2.15
jsk-recognition-utils==1.2.15
jsk-rqt-plugins==2.1.7
jsk-rviz-plugins==2.1.7
jsk-topic-tools==2.2.11
kalman-filter==0.3.0
keras-preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.1
laser-geometry==1.6.5
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
locket==0.2.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
markdown==3.3.3
matplotlib==3.1.2
mccabe==0.6.1
message-filters==1.15.9
mock==3.0.5
more-itertools==4.2.0
moveit-commander==1.1.0
moveit-ros-planning-interface==1.1.0
moveit-ros-visualization==1.1.0
mpi4py==3.0.3
netifaces==0.10.4
networkx==2.4
nose2==0.9.1
nose==1.3.7
notify2==0.3
numexpr==2.7.1
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
openni2-launch==1.4.2
openpyxl==3.0.3
opt-einsum==3.3.0
packaging==20.3
pandas==0.25.3
paramiko==2.6.0
partd==1.0.0
pathtools==0.1.2
pbr==5.4.5
pillow==7.2.0
pip==20.0.2
pluggy==0.13.0
progressbar2==3.53.1
promise==2.3
protobuf==3.14.0
psutil==5.8.0
py-ubjson==0.14.0
py==1.8.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyassimp==4.1.4
pycairo==1.16.2
pycodestyle==2.5.0
pycryptodomex==3.6.1
pycups==1.9.73
pydocstyle==2.1.1
pydot==1.4.1
pyflakes==2.1.1
pygithub==1.43.7
pyglet==1.3.2
pygments==2.3.1
pygobject==3.36.0
pyhamcrest==1.9.0
pyjwt==1.7.1
pymacaroons==0.13.0
pynacl==1.3.0
pyopengl==3.1.0
pyopenssl==19.0.0
pyparsing==2.4.6
pypng==0.0.20
pyproj==2.5.0
pyqrcode==1.2.1
pyqt5==5.14.1
pyrfc3339==1.1
pytest-cov==2.8.1
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.8.1
python-gitlab==2.0.1
python-gnupg==0.4.5
python-qt-binding==0.4.3
python-snappy==0.5.3
python-utils==2.4.0
pytrie==0.2
pytz==2019.3
pywavelets==0.5.1
pyyaml==5.3.1
pyzmq==18.1.1
qt-dotgraph==0.4.2
qt-gui-app==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
rdflib==4.2.2
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requests==2.25.1
resource-retriever==1.12.6
roman==2.0.0
rosapi==0.11.12
rosbag==1.15.9
rosboost-cfg==1.15.7
rosbridge-library==0.11.12
rosbridge-server==0.11.12
rosclean==1.15.7
roscreate==1.15.7
rosdep-modules==0.20.0
rosdep==0.20.0
rosdistro-modules==0.8.3
rosdistro==0.8.3
rosgraph==1.15.9
rosinstall-generator==0.1.22
rosinstall==0.7.8
roslaunch==1.15.9
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.9
rosmake==1.15.7
rosmaster==1.15.9
rosmsg==1.15.9
rosnode==1.15.9
rosparam==1.15.9
rospkg-modules==1.2.9
rospkg==1.2.9
rospy==1.15.9
rosservice==1.15.9
rostest==1.15.9
rostopic==1.15.9
rosunit==1.15.7
roswtf==1.15.9
rqt-action==0.4.9
rqt-bag-plugins==0.5.0
rqt-bag==0.5.0
rqt-console==0.4.11
rqt-controller-manager==0.19.4
rqt-dep==0.4.10
rqt-graph==0.4.14
rqt-gui-py==0.5.2
rqt-gui==0.5.2
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.18.1
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.9
rqt-msg==0.4.9
rqt-nav-view==0.5.7
rqt-plot==0.4.12
rqt-pose-view==0.5.10
rqt-publisher==0.4.9
rqt-py-common==0.5.2
rqt-py-console==0.4.9
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.8
rqt-rviz==0.6.1
rqt-service-caller==0.4.9
rqt-shell==0.4.10
rqt-srv==0.4.8
rqt-tf-tree==0.6.2
rqt-top==0.4.9
rqt-topic==0.4.12
rqt-web==0.4.9
rsa==4.7
rviz==1.14.4
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.6.0
secretstorage==2.3.1
sensor-msgs==1.13.0
sentry-sdk==0.19.5
service-identity==18.1.0
setuptools==51.1.2
shortuuid==1.0.1
simplejson==3.16.0
sip==4.19.21
six==1.15.0
smach-ros==2.5.0
smach==2.5.0
smclib==1.8.6
smmap==3.0.4
snowballstemmer==2.0.0
sound-play==0.3.9
soupsieve==1.9.5
sparqlwrapper==1.8.5
srdfdom==0.6.2
subprocess32==3.5.4
systemd-python==234
tables==3.6.1
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorflow-estimator==2.4.0
tensorflow==2.4.0
termcolor==1.1.0
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tf2-sensor-msgs==0.7.5
tf==1.13.2
toolz==0.9.0
topic-tools==1.15.9
tornado==5.1.1
tqdm==4.56.0
twisted==18.9.0
txaio==2.10.0
typing-extensions==3.7.4.3
u-msgpack-python==2.1
unattended-upgrades==0.1
unique-id==1.0.6
urdfdom-py==0.4.5
urllib3==1.26.2
vcstool==0.2.15
vcstools==0.1.42
wadllib==1.3.3
wandb==0.10.13
watchdog==0.10.4
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.36.2
wiimote==1.15.0
wrapt==1.12.1
wsaccel==0.6.2
wstool==0.1.18
xacro==1.14.5
xlrd==1.1.0
xlwt==1.3.0
zipp==1.0.0
zope.interface==4.7.1